
body {
	font-size: 40px;
	font-family: 'Poiret One', cursive;
	color: #666;
}

h1 {
	font-weight: bolder;
	font-size: 150%;
}

.container {
	margin: 100px auto 0;
	padding: 70px 70px;
}

.btn {
	font-size: 60%;
}