body { font-family: Tahoma, sans-serif; color: #555; cursor: default; }
h1 { color: #CC6055; margin-bottom: 50px; }
ul { padding-left: 0; }
li.breadcrumb { padding: 0; }
li.breadcrumb a { display: block; padding: 8px 15px; }
li.breadcrumb a:hover { color: #CC6055; }
li.breadcrumb a, a:link, a:visited, a:hover, a:active { text-decoration: none; }